body{
    background-color: #1d1a05;
    margin: 0px;
}
ul{
  padding-left: 170px;
}
li{
  display: inline-block;
  padding: 20px;
  list-style: none;
}
a{
  color: white;
  padding: 10px;
}

header{
    background-color: #ca3c25;
    margin: 0px;
}
div{
  text-align: center;
}

img{
  height: 150px;
  width: 150px;
  margin: 15px;
  border: white solid 5px;
}
button{
  height: 20px;
  width: 300px;
  background-color: #ca3c25;
  color: white;
  border: none;
}

span{
  display: inline-block;
  width: 420px;
  color: white;
  text-align: justify;
  margin: 15px;
}
